body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#020617;
color:white;
}

.metric{
background:#0f172a;
padding:20px;
border-radius:10px;
width:220px;
box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.metric h4{
margin:0;
color:#94a3b8;
}

.metric h2{
margin-top:10px;
font-size:28px;
}